.logo {
  float: left;
  width: 132px;
  height: 37px;
  margin: 2vh 4vw 2vh 0vh;
  background: rgba(255, 255, 255, 0);
}

[data-theme="dark"] .site-layout .site-layout-background {
  background: #141414;
}